body{
    text-align: center;
    background-color: black;
    color: lime;
}
h1{
    font-size: 100px;
}
button{
    color: lime;
    background-color: rgb(22, 22, 22);
    border: 5px lime solid;
    border-radius: 5px;
}